{% extends 'generic/object.html' %}

{% block content %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Mailbox</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">Local part</th>
              <td>{{ object.local_part }}</td>
            </tr>
            <tr>
              <th scope="row">Domain</th>
              <td>
                <a href="{{ object.mail_domain.get_absolute_url }}">{{ object.mail_domain }}</a>
              </td>
            </tr>
            <tr>
              <th scope="row">Description</th>
              <td>{{ object.description|placeholder }}</td>
            </tr>
          </table>
        </div>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
      {% include 'inc/panels/tags.html' %}
    </div>
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Details</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
